/*
* @Author: TomChen
* @Date:   2018-11-15 20:47:21
* @Last Modified by:   TomChen
* @Last Modified time: 2018-11-15 20:47:50
*/
/*顶部浮动导航*/


.col1{
	float: left;
	width: 234px;
}
.col2{
	float: left;
	width: 978px;
	margin-left: 14px;
}
.hd{
	height: 60px;
	line-height: 60px;
}
.hd .tittle{
	float: left;
	font-size: 20px;
	font-weight: 200;
}
.hd .more{
	float: right;
}

.hd .more.move{
	margin-top: 24px;
}


.hd .more.move .ctr-btn{	
	float: left;
	width: 36px;
	height: 24px;
	line-height: 24px;
	font-weight: bold;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	text-align: center;
}
.hd .more.move .ctr-btn:hover{
	color: #ff6700;
}
.hd .more.move .ctr-btn-right{
	border-left: none;
}
.hd .more.view a{
	color: #333;
	font-size: 16px;
	}
.hd .more.view a i{
	display: inline-block;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 50%;
	background: #b0b0b0;
	color: #fff;
	text-align: center;
	vertical-align: -1px;
	}
.hd .more.view a:hover{
	color: #ff5700;
	}
.hd .more.view a:hover i{
	background: #ff6700;
	}
.hd .more.tab{
	margin-top: 14px;
	}
.hd .more.tab .tab-item{
	float: left;
	height: 30px;
	line-height: 30px;
	margin-left: 30px;
	font-size: 16px;
	cursor: pointer;
	}
.hd .more.tab .tab-item:hover,
.hd .more.tab .tab-item-active{
	color: #ff6700;
	border-bottom: 2px solid #ff6700;
}
.product-item-m .view{
	position: absolute;
	left:0;
	bottom: 0;
	width: 100%;
	height: 0;
	background: #ff6700;
	transition: height 0.2s linear;
}
.product-item-m .view .recommend{
	padding: 10px 20px 0;
	height: 40px;
	line-height: 20px;
	overflow: hidden;
	text-align: left;
	font-size: 12px;
	color: #fff;
}
.product-item-m .view .author{
	padding: 0 20px;
	text-align: left;
	font-size: 12px;
	color: #ccc;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.product-item-m:hover,
.product-item-s:hover
{
	box-shadow: 0 5px 30px rgba(0,0,0,0.2);
	transform: translateY(-2px);
}
.product-item-m:hover .view{
	height: 80px;
}
.product-item-s{
		position: relative;
		height: 143px;
		margin-bottom: 14px;
		padding: 40px 0 0 30px;
		box-sizing: border-box;
		text-align: left;
		transition: box-shadow 0.2s linear,transform 0.2s linear;
	}
.product-item-s .product-name{
	position: absolute;
	top: 33px;
	left: 20px;
	width: 100px;
}
.product-item-s .product-price{
	position: absolute;
	top: 80px;
	left: 50px;
}
.product-item-s .product-img{
	position: absolute;
	top:40px;
	right: 40px;
	width: 45px;
	height: 60px;
}
.product-item-s .more {
	font-size: 18px;
	color: #333;
	}
.product-item-s .more div{
	position: absolute;
	top: 45px;
	left: 45px;
}	
.product-item-s .more span{
	position: absolute;
	top: 75px;
	left: 50px;
	display: block;
	font-size: 12px;
	color: #757575;
}
.product-item-s .more i{
	position: absolute;
	top:40px;
	right: 40px;
	font-size: 48px;
	color: #ff6700;	
}
.product-item{
	float: left;
	position: relative;
	width: 234px;
	text-align: center;
	margin-left: 14px;
	background: #fff;
	box-sizing: border-box;
}
.product-item-m{
	height: 300px;
	padding: 20px 20px 0px 20px;
	margin-bottom: 14px;
	overflow: hidden;
	transition: box-shadow 0.2s linear,transform 0.2s linear;
}
.product-item-m:first-child,
.product-item-m:nth-child(5){
	margin-left: 0;
}
.product-img{
	width: 140px;
	height: 160px;
	margin-bottom:24px; 
}
.product-item-m .product-img{
		width: 120px;
		height: 140px;
		margin-bottom: 20px;
}
.product-name{
	width: 100%;
	font-size: 14px;
	margin-bottom: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #202020;
}
.product-desc{
	width: 100%;
	margin-bottom: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px;
	color: #b3adad;	
}
.product-price strong,
.product-price span{
	font-size: 14px;
	color: #ff6700;
}
.product-price del{
	font-size: 14px;
	color: #b0b0b0;
}
.flag{
	position: absolute;
	top:0;
	left:50%;
	margin-left: -32px;
	width: 64px;
	height: 20px;
	line-height: 20px;
	color: #fff;
	font-size: 12px;
	text-align: center;
}
.off-flag{
	background: #e53935;
}
.new-flag{
	background: #83c44e;
}





.top{
	height: 40px;
	background: #333;
}
.top-nav{
	float: left;
	height: 40px;
}
.top-nav-item{
	float: left;
	line-height: 40px;
}
.top .sep{
	color: #413b36;
	margin: 0 0.5em;
}
.top-register{
	float: right;
	width: 160px;
	height: 40px;
}
.top-register-item{
	float: left;
	height: 40px;
	line-height: 40px;
}
.top-cart{
	float: right;
	width: 120px;
	height: 40px;
}
.top-cart .cart-box a{
	display: inline-block;
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
}
.top-cart .cart-box a:hover{
	background: #fff;
	color: #ff6700;
}
.top-cart .icon-cart{
	font-size: 20px;
	vertical-align: -4px;
}
/*头部样式*/
.header{
	height: 100px;
}
.header .log{
	float: left;
	width: 55px;
	height: 55px;
	margin-top: 22.5px;
	background: #ff6700;
}
.header .log a{
	display: block;
	width: 100%;
	height: 100%;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: 50% 50%;
	text-indent: -99999em;
}
.header-nav{
	float: left;
	margin-left: 190px;
}
.header-nav-item{
	float: left;
	margin-right: 20px;
	height: 100px;
	line-height: 100px;
}
.header-nav-item a{
	font-size: 16px;
	color: #333;
}
.header-nav-item a:hover{
	color: #ff6700;
}
.header .search{
	position: relative;
	float: right;
	width: 296px;
	height: 50px;
	margin-top: 25px;
}
.search-text{
	float: left;
	width: 245px;
	height: 100%;
	border: 1px solid #e0e0e0;
	border-right: none;
	outline: none;
	padding-left: 10px;
	box-sizing: border-box;
}
.search-btn{
	float: left;
	width: 50px;
	height: 50px;
	border: 1px solid #e0e0e0;
	box-sizing: border-box;
	line-height: 50px;
	text-align: center;
	font-size: 20px;
	cursor: pointer;
}
.search-words{
	position: absolute;
	left: 100px;
	line-height: 50px;
}
.search-words-a{
	display: inline-block;
	height: 18px;
	line-height: 18px;
	color: #757575;
	background: #eee;
	padding: 0 6px;
}
.search-list{
	display: none;
	position: absolute;
	top: 50px;
	left: 0;
	width: 246px;
	border: 1px solid #ff6700;
	border-top: none;
	box-sizing: border-box;
	background: #fff;
}
.search-list-item{
	height: 30px;
	line-height: 30px;
}
.search-list-item a{
	display: block;
	width: 100%;
	height: 30px;
	box-sizing: border-box;
	padding: 0 10px;
}
.search-list-item a:hover{
	background: #eee;
}
.search-text:hover{
	border-color: #999;
}
.search-text:hover + .search-btn{
	border-color: #999;
}
.search-btn:hover{
	background: #ff6700;
	border: none;
}
.search-btn:hover .icon-btn{
	color: #fff;
}
.search-words-a:hover{
	background: #ff6700;
	color: #fff;
}
.search:hover .search-text,
.search:hover .search-btn
{
	border-color: #999;
}
.search-text:focus ~ .search-list{
	display: block;
	z-index: 9999;
}
.search-text:focus{
	border-color: #ff6700;
}
.search-text:focus + .search-btn{
	border-color: #ff6700;
}
.search-text:focus ~ .search-words{
	display: none;
}
.search-text:focus
.search-list-item .keyword{
	color: #333;
}
.search-list-item .num{
	float: right;
	color: #b0b0b0;
}
/*home样式*/
.home{
	height: 1272px;
	background: #fff;
}
.banner{
	position: relative;
	height: 460px;
	margin-bottom: 14px;
}
.banner-list{
	position: absolute;
	top: 0;
	left: 0;
	width: 234px;
	height: 100%;
	background: rgba(0,0,0,0.5);
	padding: 20px 0;
	box-sizing: border-box;
	z-index: 999;
}
.banner-list-item{
	height: 42px;
	line-height: 42px;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
	padding: 0 20px 0 30px;
}
.banner-list-item:hover{
	background: #ff6700;
}
.banner-list-item i{
	float: right;
}
.banner-slideshow{
	position: relative;
	height: 100%;
}
.banner-slideshow-imgs-item{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 460px;
}
.banner-slideshow-imgs-item img{
	width: 100%;
	height: 100%;
	cursor: pointer;
}
.banner-slideshow .left-area{
	position: absolute;
	top: 50%;
	left: 235px;
	z-index: 888;
	width: 40px;
	height: 80px;
	line-height: 80px;
	margin-top: -40px;
	cursor: pointer;
	text-align: center;
	font-size: 30px;
	font-weight: bolder;
	color: #eee;	
}
.banner-slideshow .right-area{
	position: absolute;
	top: 50%;
	right: 0px;
	z-index: 888;
	width: 40px;
	line-height: 80px;
	height: 80px;
	margin-top: -40px;
	cursor: pointer;
	text-align: center;	
	font-size: 30px;
	font-weight: bolder;
	color: #eee;	
}
.banner-slideshow .right-area:hover{
	background: rgba(0,0,0,0.4);
}
.banner-slideshow .left-area:hover{
	background: rgba(0,0,0,0.4);
}
.banner-slideshow-btn{
	position: absolute;
	right: 35px;
	bottom: 24px;
	z-index: 888;
}
.banner-slideshow-btn li{
	float: left;
	width: 10px;
	height: 10px;
	background: #96938a;
	margin-right: 10px;
	border: 4px solid #b5b3ad;
	border-radius: 50% 50%;
	cursor: pointer;
}
.banner-slideshow-btn li:hover{
	border-color: #979590;
	background: #fcf9f0;
}
.hot{
	margin-bottom: 25px;
}
.hot-list{
	height: 170px;
	background: #5f5750;
}	
.hot-list-item{
	float: left;
	position: relative;
	width: 78px;
	height: 85px;
	text-align: center;
	padding-top: 20px;
	box-sizing: border-box;
	cursor: pointer;
}
.hot-list-item i{
	display: block;
	font-size: 26px;
	margin-bottom: 7px;
}
.hot-list .right-line:after{
	display: block;
	position: absolute;
	top:10px;
	left:78px;
	content: "";
	width: 1px;
	height: 70px;
	background: #bbb;
	opacity: 0.2;
}
.hot-list .top-line:before{
	display: block;
	position: absolute;
	top:0px;
	left:8px;
	content: "";
	width: 65px;
	height: 1px;
	background: #bbb;
	opacity: 0.2;
}
.hot-sales-item{
	float: left;
	width: 316px;
	height: 170px;
	margin-left: 15px;
	transition: box-shadow 0.3s;
}
.hot-sales-item:hover{
	box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}
.hot-sales-item:first-child{
	margin-left: 0;
}
.hot-sales img{
	width: 100%;
	height: 100%;
}
.flash .timer{
	height: 340px;
	text-align: center;
	border-top: 1px solid #f00;
	background: #f1eded;
}
.timer-name{
	margin: 60px 0 32px 0;
	color: #ef3a3b;
	font-size: 20px;
}
.timer-img{
	widows: 35px;
	height: 54px;
	margin-bottom: 20px;
}
.timer-desc{
	margin-bottom: 30px;
	font-size: 14px;
	color: #706f6f;
}
.timer-num{
	display: inline-block;
	background: #605751;
	font-size: 20px;
	width: 46px;
	height: 46px;
	text-align: center;
	line-height: 46px;
	color: #fff;
}
.timer-sign{
	display: inline-block;
	width: 5px;
	height: 46px;
	line-height: 46px;
	text-align: center;
	font-size: 20px;
}
.product-list-item{
	float: left;
	position: relative;
	width: 234px;
	height: 340px;
	padding: 30px 20px 0 20px;
	background: #fff;
	box-sizing:border-box;
	margin-left: 14px;
}
.product-list-item:first-child{
	margin-left: 0;
}
.product-list-img{
	width: 140px;
	height: 160px;
	margin-bottom: 14px;
	margin-left: 10px;
}
.flash{
	position: relative;
	margin-bottom: 40px;
}
.flash .product-price{
	position: absolute;
	top: 275px;
	left: 50px;
}
.flash .bg{
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.1);
	opacity: 0.3;
}
.product-list-name{
	font-size: 14px;
	width: 100%;
	margin-bottom: 6px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #202020;
}
.flash .product-desc{
	margin-left: 35px;
}
.flash .product-price strong,
.flash .product-price span{
	color: #ff6700;
}
.flsah .product-price del{
	color: #b0b0b0;
}
.product-list-item:nth-child(1){
	border-top: 1px solid blue;
}
.product-list-item:nth-child(2){
	border-top: 1px solid pink;
}
.product-list-item:nth-child(3){
	border-top: 1px solid purple;
}
.product-list-item:nth-child(4){
	border-top: 1px solid yellow;
}
.ad{
	height: 120px;
}
.ad-img{
	width: 100%;
	height: 100%;
}
.main{
	padding-bottom: 60px;
	background: #f5f5f5;
}
.main .phone{
	margin-bottom: 40px;
}
.main .phone .col1{
	height: 614px;
	transition: box-shadow 0.2s linear,transform 0.2s linear;
}
.main .phone .col1:hover{
	box-shadow: 0 5px 30px rgba(0,0,0,0.2);
	transform: translateY(-2px);
}
.main .col1 img{
	width: 100%;
	height: 100%;
}
.main .col2{
	height: 614px;
}
.main .elec{
	margin-bottom: 40px;
}
.main .elec .col1 .product-item{
	margin-left: 0;
	padding: 0;
}
.main .elec .bd{
	height: 614px;
	overflow: hidden;
}
.main .video-item{
	float: left;
	width: 296px;
	height: 286px;
	margin-left: 14px;
	background: #fff;
	text-align: center;
	transition: box-shadow 0.2s linear,transform 0.2s linear;
}
.main .video-item:first-child{
	margin-left: 0;
}
.main .video-item:hover{
	box-shadow: 0 5px 30px rgba(0,0,0,0.2);
	transform: translateY(-2px);	
}
.main .video .video-item .figure{
	position: relative;
	width: 100%;
	height: 180px;
	margin-bottom: 30px;
}
.main .video .video-item .figure img{
	width: 100%;
	height: 100%;
}
.main .video .video-item .figure .play{
	position: absolute;
	left:20px;
	bottom: 10px;
	width: 36px;
	height: 24px;
	line-height: 24px;
	border:2px solid #fff;
	border-radius: 20px;
	background: rgba(0,0,0,0.6);
}
.main .video .video-item .figure .play i{
	font-size: 30px;
	color: #fff;
}
.main .video .video-item .figure:hover .play{
	background: #ff6700;
	border-color: #ff6700;
}
.main .video .video-item .title{
	margin-bottom: 10px;
}
.main .video .video-item .title a{
	font-size: 14px;
	color: #333;
}
.main .video .video-item .title a:hover{
	color: #ff6700;
}
.main .video .video-item .desc{
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-size: 12px;
	color: #b0b0b0;
}
.footer{
	background: #fff;
}
.footer .service{
	padding: 27px 0;
	border-bottom: 1px solid #e0e0e0;
}
.footer .service-item{
	float: left;
	width: 20%;
	height: 25px;
	line-height: 25px;
	text-align: center;
	border-right: 1px solid #e0e0e0;
	box-sizing: border-box;
}
.footer .service-item:last-child{
	border-right: none;
}
.footer .service-item a{
	font-size: 16px;
	color: #656565;
}
.footer .service-item a:hover{
	color: #ff6700;
}
.footer .service-item a i{
	font-size: 24px;
	vertical-align: -4px;
	margin-right: 6px;
}
.footer .links{
	padding: 40px 0;
}
.footer .link-item{
	float: left;
	width: 160px;
	height: 112px;
}
.footer .link-item dt{
	margin-bottom: 26px;
	font-size: 14px;
	color: #424242;
}
.footer .link-item dd{
	margin-bottom: 6px;
}
.footer .link-item a{
	color: #757575;
}
.footer .link-item dd a:hover{
	color: #ff6700;
}
.footer .link-contact{
	float: right;
	width: 246px;
	height: 112px;
	margin-left: 10px;
	border-left: 1px solid #e0e0e0;
	text-align: center;
}
.footer .link-contact .phone{
	font-size: 18px;
	color: #ff6700;
	font-weight: bold;
}
.footer .link-contact .work-time,
.footer .link-contact .desc{
	font-size: 12px;
	color: #616161;
}
.footer .link-contact .desc{
	margin-bottom: 18px;
}
.footer .link-contact a{
	display: inline-block;
	width: 120px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #ff6700;
	color: #ff6700;
	transition: background-color 0.5s;
}
.footer .link-contact a i{
	vertical-align: -1px;
	margin-right: 2px;
}
.footer .link-contact a:hover{
	background: #ff6700;
	color: #fff;
}
.end{
	padding: 30px 0;
	background: #f5f5f5;
}
.end .logo{
	float: left;
	width: 57px;
	height: 57px;
	margin-right: 10px;
	background-color: #ff6700;
	background-image: url(../images/logo.png);
	background-repeat: no-repeat;
	background-position: center center;
}
.end .info .site{
	float: left;
}
.end .info .site .nav-link a{
	color: #757575;
}
.end .info .site .nav-link a:hover{
	color: #ff6700;
}
.end .info .site .nav-link .sep{
	display: inline-block;
	width: 1px;
	height: 12px;
	background: #b0b0b0;
	vertical-align: -2px;
}
.end .info .site .icp a:hover{
	color: #ff6700;
}
.end .info .site .decare{
	font-size: 12px;
	color: #b0b0b0;
}
.end .info .links{
	float: right;
}
.end .info .links img{
	height: 28px;
}
.end .slogan{
	height: 60px;
	background-image: url(../images/slogan.png);
	background-repeat: no-repeat;
	background-position: center bottom;
}